<div th:fragment="footer" style="margin-top: 5px;" class="navbar-static-bottom" xmlns:th="http://www.w3.org/1999/xhtml">
<footer>
    <div class="navbar navbar-inverse " style="background-color: #121a35; border-top: 2px solid #f9a101;" role="navigation">
        <div class="container">
            <p class="navbar-text pull-left">&copy;<script>var date = new Date(); document.write(date.getFullYear() + " ")</script>
                <a href="#" target="_blank" >Darmowe gry online</a>
            </p>
        </div>
    </div>
</footer>
</div>