<html xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>CategoryPagination</title>
</head>
<body>
<span th:text="${tekst}"></span>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>

<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>


<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>

<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>

<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>



</body>
<script type="application/javascript">
    window.onscroll = function(ev) {
        if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
            alert("you're at the bottom of the page");
        }
    };
</script>
</html>